/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #111;
    color: #FFF;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    font-family: 'Cousine','Arial' ;
}
#footer {
    bottom:0;
    position:fixed;
    padding:10px;
    background-color: #f5f5f5;
}

/* Custom UI stuffs
---------------------------------------------------- */
input.form-control.form-control-sm {
    width: 80%
}

div.navbar-golden {
    background-color: #DA9F17;
    border-color: #DA9F17;
    border-bottom: 3px solid #8B6202;
}

a.dark {
    color: #2B2828;
    font-weight: bold;
}

a.dark:hover {
    color: #2B2828;
    font-weight: bold;
}

div.tuck {
    padding-top:60px;
    padding-bottom: 40px;
}

/* Custom Toastr
---------------------------------------------------- */
.toast-top-center {
    top: 12px;
    left: 50%;
    margin-left: -150px;
}
@media all and (max-width: 240px) {
    .toast-top-center {
        margin-left: -54px;
    }
}
@media all and (min-width: 241px) and (max-width: 320px) {
    .toast-top-center {
        margin-left: -64px;
    }
}
@media all and (min-width: 321px) and (max-width: 480px) {
    .toast-top-center {
        margin-left: -96px;
    }
}


/* Log specific styles
---------------------------------------------------- */
a.log-machine {
    color: rgb(181, 137, 0);
    background: #262626;
}
a.log-machine:hover {
    color: rgb(181, 137, 0);
    background: #262626;
    text-decoration: none;
}

a.log-sender {
    color: rgb(37, 140, 205);
    background: #262626;
}
a.log-sender:hover {
    color: rgb(37, 140, 205);
    background: #262626;
    text-decoration: none;
}

span.log-level {
    font-weight: bold;
}